.card-dash {
  width: 300px;
  margin: 20px;
  z-index: 1;
}

.card-dash:hover {
  border: 2px dashed $clr-acc;
  margin-top: 18px;
  margin-bottom: 18px;
}

.card-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 5px 0px 20px 0px black;
  transition: 0.1s ease-out;
  z-index: 2;
  background-color: $clr-snd;
}

.card-container:hover {
  transform: translate(20px, -15px);
}

.image-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.image-container svg {
  font-size: 48px;
  fill: $clr-prm;
}

.card-content {
  margin: 1em;
  margin-top: 0.5em;

  h4,
  p {
    margin: 0;
    padding: 0;
  }
}

.card-title {
  margin-bottom: 0.5em;
  h4 {
    font-family: $font-prm;
  }
}

.card-body p {
  font-size: 16px;
  font-weight: lighter;
}

.btn {
  display: flex;
  justify-content: center;

  button {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: none;
    background-color: $clr-snd;
    transition: 0.2s ease-out;
    text-transform: uppercase;
    font-weight: bold;
    color: $clr-acc;
    border-radius: 4px;
    a {
      cursor: pointer;
    }
  }
}

button:hover {
  box-shadow: 0 0 1px 1px $clr-acc;
}
