@import "./scss/Variables.scss";

.Contact {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 1em;
  padding-top: 3em;

  .icon-flex {
    display: flex;
    height: auto;
    flex-direction: column;

    .icon-bar {
      display: flex;
      width: 100%;
      margin-top: auto;
      margin-bottom: 1em;
      align-items: center;

      svg:hover {
        stroke: $clr-acc;
        stroke-width: 10px;
      }

      .ico {
        display: inline-block;
        padding: 10px;
        width: 48px;
        height: 48px;
        fill: $clr-snd;
        background-color: $clr-prm;
        border-radius: 50%;
        margin-right: 2em;
      }

      .ico:hover {
        background-color: $clr-snd;
      }
    }
  }
}

.contact-left {
  display: block;
  width: 100%;
}

.contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 50px;

  .contact-svg {
    margin: 0 auto;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
  }

  .ico-r {
    display: block;
    padding: 10px;
    fill: $clr-snd;
    width: 72px;
    height: 72px;
    background-color: $clr-prm;
    border-radius: 50%;
    overflow: visible;
    margin: 1vw 5vw 0 5vw;
  }

  .ico-r:hover {
    background-color: $clr-title;
  }

  .svg-bg {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 360px;
    padding: 15px;
    margin-bottom: 50px;
  }
}
.elipses {
  max-width: clamp(240px, 32vw, 480px);
  height: auto;
  animation: rotation 24s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
