@import "./scss/Variables.scss";

////////////////////////////////////////////////////
//Basic Header styling
///////////////////////////////////////////////////
header {
  display: flex;
  height: calc(100vh - 116px);
}

.Header {
  padding: 1em;
  height: 100vh;
}

nav {
  height: 120px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar {
  width: 70%;
  display: none;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    list-style: none;
  }

  a {
    font-family: $font-acc;
    font-size: clamp(0.9em, 1.6vw, 1.5em);
    line-height: 48pt;
    display: inline-block;
    text-decoration: none;
    color: #f5f5f5;
    margin-right: 10px;
    margin-left: 10px;
  }
}

.tag-acc {
  font-family: $font-acc;
  font-size: clamp(0.9em, 1.6vw, 1.5em);
  color: $clr-acc;
  line-height: 48pt;
}

.tag-r {
  display: block;
  text-align: end;
}

.header-left {
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .left-upper {
    margin: auto;
  }

  h1 {
    font-size: clamp(60pt, 8vw, 130pt);
    font-family: $font-prm;
    line-height: clamp(70pt, 9vw, 140pt);
    margin: 0;
  }
}

.icons {
  margin-top: auto;
  margin-bottom: auto;
  svg {
    margin: 24px;
  }

  .icon:hover * {
    fill: $clr-snd;
    stroke: $clr-acc;
  }
}

.header-right {
  display: none;
  width: 50vw;
  justify-content: center;

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.mobile-menu {
  display: block;
  background-color: $clr-prm;
  position: absolute;
  top: 0;
  left: 0;
  width: 75vw;
  height: 100vh;
  z-index: 50;

  h3 {
    color: $clr-snd;
  }

  a {
    text-decoration: none;
  }

  .menu-el {
    list-style: none;
    color: $clr-snd;
  }
}

.mask {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  cursor: pointer;
}

//////////////////////////////////////////////////
//Nav styles
/////////////////////////////////////////////////
.nav-el {
  cursor: pointer;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}

.nav-el:hover {
  color: $clr-acc;
  transition: ease-in-out 0.2s;
  transform: scaleX(1.2);
}

.nav-el:hover::after {
  position: absolute;
  content: ">";
}
.nav-el:hover::before {
  position: absolute;
  transform: translateX(-100%);
  content: "<";
}

//////////////////////////////////////////////////
//Mobile menu styles
/////////////////////////////////////////////////
.mobile-menu {
  h3 {
    font-family: $font-prm;
    padding: 10px;
    border-bottom: $clr-acc 2px solid;
  }
}

.menu-el {
  cursor: pointer;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.menu-el:hover {
  color: $clr-acc;
  transform: translateX(30px);
  transition: 0.2s ease-in-out;
}
