@import "./scss/Variables.scss";

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-flex {
  min-height: 370px;
  width: 100%;
  height: auto;
  padding: 20px;
  z-index: 1;
}

.tools {
  margin: 50px 0;
  padding: 5px;
  display: flex;
  min-width: 100%;
  justify-content: space-between;

  .tool {
    color: $clr-title;
  }
}

.t-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

.tool-svg {
  fill: $clr-title;
  font-size: 2em;
  transition: cubic-bezier(0.24, -0.29, 0.14, 1.36), 0.3s;
}

.tool-svg:hover {
  fill: $clr-acc;
  transform: scale(1.1);
}

.tag-span:hover {
  cursor: pointer;
  color: $clr-acc;
}

.shard {
  display: block;
  font-family: $font-prm;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.shard:hover {
  transform: perspective(100px) rotateX(20deg) rotateY(-15deg) rotateZ(5deg)
    scale(1.2);
  padding: 5px;
  color: $clr-acc;
  * {
    color: $clr-acc;
  }
}

.soft-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: visible;
  svg {
    overflow: visible;
  }
}

.soft-skill {
  padding: 5px;
  display: flex;

  svg {
    height: 44px;
    min-width: 44px;
    fill: $clr-acc;
    border: 2px dashed $clr-prm;
    border-radius: 50%;
    padding: 5px;
    margin-right: 20px;
    transition: cubic-bezier(0.24, -0.29, 0.14, 1.36), 0.3s;
  }

  svg:hover {
    transform: scale(1.1) rotate(360deg);
  }
}

.skills-txt-small {
  margin-top: 50px;
}

.quote {
  position: absolute;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.quote:hover {
  transform: scale(1.1);
  .success {
    color: $clr-acc;
  }
}
#kolka {
  transform-box: fill-box;
  position: relative;
  transform-origin: center;
  height: auto;
}

#kolko1 {
  transform-origin: 50% 50%;
}

#kolko1 {
  animation: rotation-right 10s infinite linear;
  transform-origin: center;
}

#kolko2 {
  animation: rotation-left 13s infinite linear;
  transform-origin: center;
}

#kolko3 {
  animation: rotation-right 7s infinite linear;
  transform-origin: center;
}

@keyframes rotation-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
