////////////////////////////////////////////////////
//imports
///////////////////////////////////////////////////
@import "./scss/Variables.scss";
@import "./scss/Header.scss";
@import "./scss/About.scss";
@import "./scss/Portfolio.scss";
@import "./scss/Contact.scss";

////////////////////////////////////////////////////
//Variables
///////////////////////////////////////////////////
$clr-prm: #f5f5f5;
$clr-snd: #282c2d;
$clr-acc: #ff6700;
////////////////////////////////////////////////////
//Basisc styling
///////////////////////////////////////////////////
* {
  box-sizing: border-box;
  color: $clr-prm;
}

body {
  background-color: $clr-snd;
}

a:hover {
  cursor: pointer;
}
////////////////////////////////////////////////////
//
///////////////////////////////////////////////////
