////////////////////////////////////////////////////
//imports
///////////////////////////////////////////////////
@import "./scss/Variables.scss";
@import "./scss/Header.scss";
@import "./scss/About.scss";
@import "./scss/Portfolio.scss";
@import "./scss/Contact.scss";

////////////////////////////////////////////////////
//Basisc styling
///////////////////////////////////////////////////
* {
  box-sizing: border-box;
  color: $clr-prm;
}

body {
  background-color: $clr-snd;
}

a:hover {
  cursor: pointer;
}
////////////////////////////////////////////////////
//
///////////////////////////////////////////////////
