////////////////////////////////////////////////////
//imports
///////////////////////////////////////////////////
@import "./scss/Variables.scss";
@import "./scss/Header.scss";
@import "./scss/About.scss";
@import "./scss/Portfolio.scss";
@import "./scss/Contact.scss";

////////////////////////////////////////////////////
//Basisc styling
///////////////////////////////////////////////////
* {
  box-sizing: border-box;
  color: $clr-prm;
}

body {
  background-color: $clr-snd;
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  cursor: pointer;
}

footer {
  display: block;
  height: 30px;
  width: 100%;
  text-align: center;
  background-color: $clr-acc;
  margin-top: 5vh;
}
////////////////////////////////////////////////////
//Media Queries
///////////////////////////////////////////////////
@media (min-width: $tablet) {
  .container {
    max-width: 80%;
  }

  .header-left {
    width: 100%;
  }

  .header-right {
    display: flex;
    width: 40%;
    height: 90%;
  }

  .navbar {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .icons {
    svg {
      margin: 36px;
    }
  }
}

@media (min-width: $desktop) {
  .container {
    max-width: 75%;
  }

  .icons {
    svg {
      margin: 48px;
    }
  }
}

@media (min-width: $desktop-lg) {
  .container {
    max-width: 70%;
  }
}
